body{
    margin: 0;
    padding: 0;
    /* position: relative; */
}
.sidemenu{
    position: fixed;
    top: 10%;
    left: 0%;
    height: 100%;
    transition: all .1s;
    background-color: #f1f1f1;
    width: 60px;
    padding: 0px 8px;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
}
.Hide_menu{
    width: 15%;
    background-color: rgb(226, 214, 214);
    height: 80%;
    position: fixed;
    top: 81px;
    left: 0%;
    z-index: 2;
    transition: all .1s;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 10%;
}
::-webkit-scrollbar{
    overflow-y: auto;
    height: 0px;
    width: 8px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #030303;
    border-radius: 10px;
}

.Hide_menu:hover{
    overflow: auto;
    /* width: 15%; */
    scroll-behavior: auto;
    scroll-margin-top: 200px;
    /* scroll-snap-type: none; */
}
.Hide_menu>a{
    margin-left: 30px;
   text-decoration: none; 
   font-family: sans-serif;
   color: #030303;
   padding: 10px 0px;
}
.Youtube_img_a>i{
    color: red;
}
.Hide_menu>a>span{
    margin-left: 20px;
    font-size: 14px;
}
.hide_terms{
    font-size: 13px;
    color: #060606;
}
.Hide_menu>a>i{
    size: 20px;
    width: 20px;
}
.Hide_menu>p{
    margin-left: 30px;
    font-size: 18px;
}
.Hide_menu>hr{
   border:none;
   border-bottom: 0.1px solid rgb(153, 145, 145);
    width:98%;
    margin-left: 0px;
}

.sidemenu>p{
display: flex;
flex-direction: column;
margin-top: 20px;
}
.sidemenu>p>i{
    font-size: 20px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: #0000000d 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
}
.navbar_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    
}
.navbar_left>label>i{
    cursor: pointer;
}
.navbar_logo{
    display: flex;

    width: 70%;
    height: auto;
    align-items: center;
    cursor: pointer;
}
.navbar_logo>img{
    width: 40px;
    height: 20px;
    margin-top: 4px;
}
.navbar_logo>h1>a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 10px;
}
#check{
    display: none;
}
.navbar_middle{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.navbar_middle>div>input{
    outline: none;
    border: none;
    width: 420px;
}
.Search_middle{
    border: 1px solid black;
    padding: 10px 10px;
    width: 450px;
    margin-right: 20px;
}

.navbar_middle>i{
    background-color:#ededed;
    padding: 10px;
    border-radius: 80%;
}
.navbar_right{
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: space-between;
    padding-right: 30px;
}